.ContextList {
    display:flex;
    flex:0;
    flex-direction: column;
}

.ContextTitle {
    color:rgb(var(--gm-color));
    margin-left:5px;
    margin-right:5px;
    margin-block-end: unset;
	margin-block-start: unset;
}

.ActiveContext .ContextTitle {
    color:black;
}

.ContextShutter {
    composes: glassmorphism from "../common.module.css";
    margin:0px;
    text-align: left;
}

.ContextPane {
    composes: glassmorphism from "../common.module.css";

    display:flex;
    flex:auto;
    flex-direction:column;

    padding:0px;

    --gm-color: 82, 82, 82;
}

.ActiveContext {
    composes: ContextPane;
    --gm-color: 255, 255, 255;
}


.WithinContext {
    display:flex;
    flex:auto;
    flex-direction: column;
    padding:10px;
}