:root{
	--edge-button-min-width: 30px;
}

.ELMain {
	display: flex;
	flex: 0;
	flex-direction: row;
}

.ELTasks {
	display: flex;
	flex: auto;
	flex-direction: column;
}

.EdgeBase {
	composes: BridgeLeft from "./common.module.css";
	display: flex;
	min-width:5px;
}

.EdgeMain {
	display: flex;
	flex: 2;
	flex-direction: row;
}

.EdgeMain_Min {
	composes: EdgeMain;
	flex-grow:0;
}



.Expanded {
	composes: EdgeBase;
	width:min-content;
	flex: auto;
	flex-direction: column;
}

.Retracted {
	composes: EdgeBase;
	flex: 0;
}

.EdgeButtonDiv {
	min-width: var(--edge-button-min-width);
	display: flex;
	flex: 0 0 min-content;
	flex-direction: column;
}

.EdgeButton {
	composes: BridgeRight from "./common.module.css";
	flex:auto;
	text-align: center;
}

.EdgeTaskButton {
	z-index: 1;
}

/* Enable and Disable an edge */
.EdgeButtonEnable {
	composes: EdgeButton;
	composes: EdgeTaskButton;
	--gm-color: 255,255,255;
	color:rgb(var(--gm-color));
}

.EdgeButtonDisable {
	composes: EdgeButton;
	composes: EdgeTaskButton;
	--gm-color: 126, 126, 126;
	color:rgb(var(--gm-color));
	/* background: rgba(50,50,50, 0.2);
	outline-color: rgba(50,50,50, 0.2); */
}


/* Show and hide an Edge List */

.EdgeListShow_Button {
	composes: EdgeButton;
	background: rgba(203, 231, 187, 0.6);
}

.EdgeListHide_Button {
	composes: EdgeButton;
	background: rgba(231, 190, 187, 0.418);
}