apiVersion: v1
kind: Pod
metadata:
  namespace: interplan-prod
  name: interplan-pod
  labels:
    app: interplan-pod
spec:
  volumes:
    - name: app-pvc
      persistentVolumeClaim:
        claimName: app-pvc

    # - name: prod-pvc
    #   persistentVolumeClaim:
    #     claimName: prod-pvc

    - name: neo4j-pvc
      persistentVolumeClaim:
        claimName: neo4j-pvc
  containers:
    - name: server
      image: node:lts
      ports:
        - containerPort: 3000
          name: "http-server"
      volumeMounts:
        - mountPath: "/app"
          name: app-pvc
      workingDir: "/app"
      command: ["yarn", "start"]
    
    # - name: prod-server
    #   image: node:lts
    #   ports:
    #     - containerPort: 3001
    #       name: "http-server"
    #   volumeMounts:
    #     - mountPath: "/app"
    #       name: app-pvc
    #   workingDir: "/app"
    #   command: ["/bin/sh","-c", "--"]
    #   args: ["yarn build && npm install -g serve && serve -s build -l 3001"]

    - name: db
      image: neo4j:latest
      ports:
        - containerPort: 7474
          name: "neo4j-http"
        - containerPort: 7473
          name: "neo4j-https"
        - containerPort: 7687
          name: "neo4j-bolt"
      volumeMounts:
        - mountPath: "/data"
          name: neo4j-pvc
      env:
        - name: NEO4J_AUTH
          value: # "neo4j/DEFINE A PASSWORD HERE"
        - name: NEO4J_apoc_export_file_enabled
          value: "true"
        - name: NEO4J_apoc_import_file_enabled
          value: "true"
        - name: NEO4J_apoc_import_file_use__neo4j__config
          value: "true"
        - name: NEO4JLABS_PLUGINS
          value: "[\"apoc\"]"